body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}
@layer {
  .wave-image-cover {
    background: url("../public/wave-image.png");
    background-size: cover;
    background-position: center;
  }

  .active-account-profile-tab {
    border-top-left-radius: 37px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .active-account-business-tab {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .inacive-tab-profile {
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .inactive-last-tab {
    border-top-right-radius: 16px;
  }
}
